body {
background:#E5E5E5;
position: relative;

}
.intro>img.menu{
min-height: 100%;
  min-width: 640px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;

        }

.button {

 position: absolute;
width: 975px;
height: 466px;
left: 35.9%;
top: 50%;
} 
/*картинки будут размещены друг под другом.*/
.button img {
  
position:absolute; 
  left: 0; 
  top: 0; 

} 
.button img.second-btn2 {
  
  opacity:0;
  filter:alpha (opacity=0);

} 
.button:hover img.second-btn2{ 
opacity:1;

  filter:alpha (opacity=100);
} /* при наведении курсора мышки */
.button2 {

 position: absolute;
left: 35.9%;
top: 69%;
} 
/*картинки будут размещены друг под другом.*/
.button2 img {
  
position:absolute; 
  left: 0; 
  top: 0; 

} 
.button2 img.author-btn2 {
  
  opacity:0;
  filter:alpha (opacity=0);

} 
.button2:hover img.author-btn2{ 
opacity:1;

  filter:alpha (opacity=100);
} /* при наведении курсора мышки */



