body {
background:#E5E5E5;
position: relative;
transform: scale(25%)
top: 0px;
}

.second-gg-1 {

 position:absolute;
left: 37.2%;
top: -6.4px;
} 
 
.second-gg-1 {
  
  opacity:0;
  filter:alpha (opacity=0);

} 

.second-gg-1:hover { 
opacity:1;

  filter:alpha (opacity=100);
} /* при наведении курсора мышки */
.click-k-1 {

 position:absolute;
left: 19.5%;
top: 80px;
} 


.click-k-1 {
  
  opacity:0;
  filter:alpha (opacity=0);

}
.click-k-1:hover { 
opacity:1;

  filter:alpha (opacity=100);
} /* при наведении курсора мышки */
.click-k-2 {

 position:absolute;
left: 41.5%;
top: 80px;
} 


.click-k-2 {
  
  opacity:0;
  filter:alpha (opacity=0);

}
.click-k-2:hover { 
opacity:1;

  filter:alpha (opacity=100);
} /* при наведении курсора мышки */
.click-k-3 {

 position:absolute;
left: 65%;
top: 80px;
} 


.click-k-3 {
  
  opacity:0;
  filter:alpha (opacity=0);

}
.click-k-3:hover { 
opacity:1;

  filter:alpha (opacity=100);
} /* при наведении курсора мышки */
.str-2-m {

 position:absolute;
left: 76.5%;
top: 2468.5px;
} 

.str-2-m {
  
  opacity:0;
  filter:alpha (opacity=0);

}

.str-2-m:hover { 
opacity:1;

  filter:alpha (opacity=100);
} /* при наведении курсора мышки */

.kv-1 {

 position:absolute;
left: 35%;
top: 988.5px;
opacity:0;
  filter:alpha (opacity=0);
} 
